/tmp/*
!/tmp/.keep

.cache
.DS_Store
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
.tern-config

amx-items
auto-save-list
custom.el
elpa
projectile-bookmarks.eld
projects
recentf
samx-items
smex-items
transient
